In [1]:
#standard imports
import pandas as pd
import numpy as np
import unicodedata
import re
import nltk
from bs4 import BeautifulSoup
import requests

In [2]:
original = "Paul Erd≈ës and George P√≥lya were influential Hungarian mathematicians who contributed \
a lot to the field. Erd≈ës's name contains the Hungarian letter '≈ë' ('o' with double acute accent), \
but is often incorrectly written as Erdos or Erd√∂s either by mistake or out of typographical necessity"

In [3]:
original

"Paul Erd≈ës and George P√≥lya were influential Hungarian mathematicians who contributed a lot to the field. Erd≈ës's name contains the Hungarian letter '≈ë' ('o' with double acute accent), but is often incorrectly written as Erdos or Erd√∂s either by mistake or out of typographical necessity"

## 1 Function: basic_clean

### lowercase

In [4]:
lowered = original.lower()

In [5]:
lowered

"paul erd≈ës and george p√≥lya were influential hungarian mathematicians who contributed a lot to the field. erd≈ës's name contains the hungarian letter '≈ë' ('o' with double acute accent), but is often incorrectly written as erdos or erd√∂s either by mistake or out of typographical necessity"

### normalize into unicode (utf-8)

In [6]:
normalized = unicodedata.normalize('NFKD', lowered).encode('ascii','ignore').decode('utf-8')

In [7]:
normalized

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field. erdos's name contains the hungarian letter 'o' ('o' with double acute accent), but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### replace non-word, single space and single-quote chars

In [8]:
re.sub(r'[^a-zA-Z0-9\'\s]', '', normalized)

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [9]:
basicly_clean = re.sub(r'[^a-zA-Z0-9\'\s]', '', normalized)

In [10]:
basicly_clean

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### now functionalize this...

In [11]:
def basic_clean(string):
    '''
    takes in a string and outputs a basic-cleaned version:
                    -lowercase
                    -normalized to unicode set
                    -replaced non-word and non-singlespace,non-singlequote chars with ''
    '''
    lowered = string.lower()
    normalized = unicodedata.normalize('NFKD', lowered).encode('ascii','ignore').decode('utf-8')
    basic_clean = re.sub(r'[^a-zA-Z0-9\'\s]', '', normalized)
    return basic_clean

In [12]:
test = 'here sis some wsrttroing of sa./23;l3r2892390*(*()*\U0001F601())'

In [13]:
test

'here sis some wsrttroing of sa./23;l3r2892390*(*()*üòÅ())'

In [14]:
test_clean = basic_clean(test)

In [15]:
test_clean

'here sis some wsrttroing of sa23l3r2892390'

## 2 Function: tokenize

In [16]:
tokenizer = nltk.tokenize.ToktokTokenizer()
tokenizer

In [17]:
tokenized = tokenizer.tokenize(basicly_clean, return_str=True)

In [18]:
tokenized

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### now functionalize this...

In [19]:
def tokenize(string):
    '''
    takes in a string and outputs a tokenized version:
    
    '''
    tokenizer = nltk.tokenize.ToktokTokenizer()
    tokenized = tokenizer.tokenize(string, return_str=True)
    return tokenized

In [20]:
test_token = tokenize(test_clean)

In [21]:
test_token

'here sis some wsrttroing of sa23l3r2892390'

## 3 Function: stem

In [22]:
stemmer = nltk.porter.PorterStemmer()

In [23]:
stemmer

In [24]:
stemmer.stem(tokenized)

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necess"

In [25]:
' '.join([stemmer.stem(word) for word in tokenized.split()])

"paul erdo and georg polya were influenti hungarian mathematician who contribut a lot to the field erdo ' s name contain the hungarian letter ' o ' ' o ' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

### now functionalize this...

In [26]:
def stem(string):
    '''
    takes in a string and outputs a stemmed (Porter) version:
    
    '''
    stemmer = nltk.porter.PorterStemmer()
    stemmed = ' '.join([stemmer.stem(word) for word in string.split()])
    return stemmed

In [27]:
stem(test_token)

'here si some wsrttro of sa23l3r2892390'

## 4 Function: lemmatize

In [28]:
lemmatizer = nltk.stem.WordNetLemmatizer()

In [29]:
lemmatized = [lemmatizer.lemmatize(word) for word in tokenized.split()]

In [30]:
lemmatized

['paul',
 'erdos',
 'and',
 'george',
 'polya',
 'were',
 'influential',
 'hungarian',
 'mathematician',
 'who',
 'contributed',
 'a',
 'lot',
 'to',
 'the',
 'field',
 'erdos',
 "'",
 's',
 'name',
 'contains',
 'the',
 'hungarian',
 'letter',
 "'",
 'o',
 "'",
 "'",
 'o',
 "'",
 'with',
 'double',
 'acute',
 'accent',
 'but',
 'is',
 'often',
 'incorrectly',
 'written',
 'a',
 'erdos',
 'or',
 'erdos',
 'either',
 'by',
 'mistake',
 'or',
 'out',
 'of',
 'typographical',
 'necessity']

### now functionalize this...

In [31]:
def lemmatize(string):
    '''
    takes in a string and outputs a lemmatized version:
    
    '''
    lemmatizer = nltk.stem.WordNetLemmatizer()
    lemmatized = ' '.join([lemmatizer.lemmatize(word) for word in string.split()])
    return lemmatized

In [32]:
test_lemma = lemmatize(test_token)

In [33]:
test_lemma

'here si some wsrttroing of sa23l3r2892390'

## 5 Function: remove_stopwords

In [34]:
stopwords = nltk.corpus.stopwords

In [35]:
stopwords

In [36]:
stopwords.words('english')[:20]

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his']

In [37]:
garbage = ['words','word','wording']

In [38]:
stopper = stopwords.words('english')

In [39]:
type(stopper)

list

In [40]:
dunzo_text = ' '.join([word for word in lemmatized 
                         if word not in stopwords.words('english')])

In [41]:
dunzo_text

"paul erdos george polya influential hungarian mathematician contributed lot field erdos ' name contains hungarian letter ' ' ' ' double acute accent often incorrectly written erdos erdos either mistake typographical necessity"

### now functionalize this...

In [42]:
def remove_stopwords(token_list,extra=[]):
    '''
    takes in a list of tokens and outputs a version with standard english stopwords removed
    additional arguments 'extra_words'  *list of strings* allow user to add to stopword dictionary
                         'exclude_words' *list of strings* allow user to remove word from standard stopword dict
    
    '''
    stopwords = nltk.corpus.stopwords
    stopw = stopwords.words('english') + extra
    dunzo_text = ' '.join([word for word in token_list 
                         if word not in stopw])
    return dunzo_text

In [43]:
remove_stopwords(test_lemma,extra=['si','wsrttroing'])

'h e r e     e   w r r n g   f   2 3 l 3 r 2 8 9 2 3 9 0'

## 6 acquire news_df

In [44]:
url = 'https://inshorts.com/en/read/'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
news_div = soup.find_all('div',class_='news-card-content news-right-box')

In [45]:
content = []
for i in range(0,len(news_div)):
    url= 'https://inshorts.com/en/read/'
    #headers = {'User-Agent': 'Codeup Data Science'}
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    news_div = soup.find_all('div',class_='news-card-content news-right-box')
    gacha = news_div[i].text
    content.append(gacha)

In [46]:
titles = []
for i in range(0,len(news_div)):
    url= 'https://inshorts.com/en/read/'
    #headers = {'User-Agent': 'Codeup Data Science'}
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    headline = soup.find_all('span',itemprop='headline')
    gacha = headline[i].text
    titles.append(gacha)

In [47]:
dictionary = {titles[i]:content[i] for i in range(len(news_div))}

In [48]:
dictionary

{"RR's Yashasvi Jaiswal smashes fastest fifty in IPL history": '\nRajasthan Royals (RR) opener Yashasvi Jaiswal on Thursday broke the record for slamming the fastest fifty in the history of IPL. The 21-year-old reached his half-century off 13 deliveries against Kolkata Knight Riders (KKR) at Eden Gardens in Kolkata. The previous record was jointly held by KL Rahul and Pat Cummins, who had taken 14 deliveries each.\n\n\n\n\n\n\n\nshort by Anmol Sharma / \n      10:03 pm on 11 May\n\n',
 'Rajasthan Royals record biggest win of IPL 2023 in terms of balls remaining': '\nRajasthan Royals (RR) on Thursday recorded the biggest win of IPL 2023 in terms of balls remaining. RR chased down a target of 150 against Kolkata Knight Riders (KKR) at Eden Gardens in Kolkata with 41 balls remaining. With the win, RR ended their three-match losing streak and jumped to the third spot on the points table.\n\nshort by Anmol Sharma / \n      10:52 pm on 11 May\n\n',
 'RR break record for scoring most runs in 1st over of IPL innings without extras': "\nRR on Thursday broke the record for scoring most runs in the first over of an IPL innings without extras. RR scored 26 runs on the bowling of KKR captain Nitish Rana in their first over with all the runs coming through Yashasvi Jaiswal's bat. The previous record was held by RCB (23 runs against RR in IPL 2019).\n\nshort by Anmol Sharma / \n      10:50 pm on 11 May\n\n",
 'Which Indians have smashed fifty off 15 or less deliveries in T20 cricket history?': "\nRR's Yashasvi Jaiswal today slammed the fastest fifty in IPL history off 13 deliveries against KKR. Ex-India all-rounder Yuvraj Singh holds the record for the fastest-ever T20 fifty (12 deliveries for India against England in 2007). Other Indians to have hit T20 fifty off 15 or less deliveries are KL Rahul (14), Robin Uthappa (15) and Yusuf Pathan (15).\n\nshort by Anmol Sharma / \n      11:04 pm on 11 May\n\n",
 "Laxman Sivaramakrishnan mocks Kamal Haasan over his 'I don't follow sports' remark": '\nEx-India spinner Laxman Sivaramakrishnan took a dig at actor-politician Kamal Haasan over his "I don\'t follow sports" remark. Sharing screenshot of an article showing Haasan praising a Tamil Nadu minister for organising "huge sports matches", Laxman revealed that during the King\'s Coronation Day, Haasan had told him that he doesn\'t follow sports. "The greatest actor of all time," Laxman tweeted.\n\nshort by Anmol Sharma / \n      10:46 pm on 11 May\n\n',
 '2 killed in shooting at Mercedes plant in Germany, suspect held': "\nTwo persons were killed in a shooting inside a Mercedes-Benz plant in Germany's Sindelfingen. The 53-year-old suspect has been arrested by police. Production at one of the company's factory halls in Sindelfingen has been suspended until the end of the week. The gunman and the two victims belonged to an external services provider, Mercedes said reacting to the shooting.\n\nshort by Disha Jana / \n      09:51 pm on 11 May\n\n",
 'PM Modi shares video on 25th anniversary of Pokhran nuclear tests': '\nOn the 25th anniversary of Pokhran nuclear tests on Thursday, PM Narendra Modi shared a video of the historic event with excerpts of then PM Atal Bihari Vajpayee\'s speeches. "Even though the world stood against it (detonation of the first three bombs on May 11, 1998), Vajpayee went on to conduct two more explosions two days later," said PM Modi.\n\nshort by Saurabh Sinha / \n      11:03 pm on 11 May\n\n',
 "99 jail officials transferred after gangster's murder in Tihar": '\nAs many as 99 jail officials in Delhi were transferred days after gangster Tillu Tajpuriya was stabbed to death inside Tihar jail. The order was issued by Director General (Prisons) Sanjay Beniwal. According to a senior official, the murder was viewed seriously by the authorities. A footage had surfaced that purportedly showed Tajpuriya being attacked in front of security personnel.\n\nshort by Saurabh Sinha / \n      10:41 pm on 11 May\n\n',
 '3-storey building collapses in Guj; 4 feared trapped & 26 rescued': '\nA 3-storey building collapsed in the Vejalpur area of Ahmedabad in Gujarat on Thursday night. As per reports, four persons are feared buried under the debris of the building, while 26 others have been rescued. Rescue operation is being carried out by police and fire brigade personnel. A video footage from the site of the incident has surfaced online.\n\nshort by Shreyasi Banerjee / \n      10:55 pm on 11 May\n\n',
 'Commando martyred, 5 injured in shootout with militants in Manipur': "\nAt least one Manipur police commando lost his life and five others sustained bullet injuries in a shootout between security forces and suspected Kuki militants in Tronglaobi in Manipur's Bishnupur district early on Thursday, police said. As per reports, the police team was patrolling the area when the incident took place. The injured were evacuated to different hospitals in Imphal.\n\nshort by Shreyasi Banerjee / \n      10:39 pm on 11 May\n\n",
 "Power of Bhutto's house goes off during presser against Pak's ex-PM Imran": '\nThe electricity of Pakistan\'s Foreign Minister Bilawal Bhutto Zardari\'s house went off during his presser against the country\'s former Prime Minister Imran Khan on Thursday. "He (Imran Khan) thought he could cross every red line that he wants," Bhutto said before the power went off. "Well, at least it\'s proven now that even Bilawal House suffers load shedding," Bhutto said. \n\nshort by Pragya Swastik / \n      10:51 pm on 11 May\n\n',
 'Father was alcoholic, I sold pens on footpath: Johny on childhood': '\nComedian-actor Johny Lever opened up about difficult times he faced while growing up in Dharavi slums and shared that since his father was an alcoholic, his family found it tough to manage household expenses. "When I came back from school, I [worked] at...liquor shop," he said. "I used to sell pens on...footpath. When...pens wouldn\'t sell, I\'d mimic...actors and...make...sale," he added.\n\nshort by Swati Dubey / \n      10:25 pm on 11 May\n\n',
 'Scammer sells AI-generated Frank Ocean songs for $9,600: Report': '\nA scammer has reportedly made around $13,000 CAD (about $9,600) by selling AI-generated songs that used vocals of Grammy-winning singer Frank Ocean. The fraudster falsely claimed that the songs were leaked tracks and sold them in an underground music forum, Vice reported. At least one of the tracks was real to build credibility, the scammer told the publication.\n\nshort by Mansi Agarwal / \n      11:05 pm on 11 May\n\n',
 "One of the most dramatic 3 overs I've called: Harsha on Jaiswal": '\nTalking about RR opener Yashasvi Jaiswal who slammed the fastest fifty in IPL history off 13 deliveries, commentator Harsha Bhogle tweeted, "That has to be one of the most dramatic 3 overs I have called." "Special knock. Special player. Take a bow," read a tweet from MI batter Suryakumar Yadav. Yashasvi recorded this feat against KKR at Eden Gardens.\n\nshort by Arnab Mukherji  / \n      10:42 pm on 11 May\n\n',
 "Pathirana's brutal at 20, I hadn't understood bowling then: Bishop": '\nEx-West Indies pacer Ian Bishop said CSK pacer Matheesha Pathirana is "exciting as heck" at the age of 20, adding that the delivery bowled by Pathirana to dismiss DC\'s Manish Pandey recently was "brutal". "What was I doing at 20? I didn\'t understand bowling [then]," stated Bishop. "I haven\'t seen Pathirana look intimidated so far this season," he said.\n\nshort by Arnab Mukherji  / \n      10:08 pm on 11 May\n\n',
 "Would've taken Jaiswal as Rahul replacement: Vaughan on WTC final": '\nFormer England captain Michael Vaughan took to Twitter to state that he would have selected RR opener Yashasvi Jaiswal as KL Rahul\'s replacement in India\'s squad for the upcoming World Test Championship (WTC) final. "Jaiswal is going to be a superstar," added Vaughan. Jaiswal smashed the fastest fifty in the history of IPL off 13 deliveries against KKR on Thursday.\n\nshort by Arnab Mukherji  / \n      11:30 pm on 11 May\n\n',
 'Joining ONDC will become market compulsion for e-comm giants: CEO': '\nOpen Network for Digital Commerce (ONDC) CEO T Koshy said it will become a "market compulsion" for e-commerce giants like Amazon and Flipkart to join the government-backed network. "As a policy, we encourage everyone to come to ONDC with their main platforms...We never force anyone to do anything...In the long run, our intention is to bring everyone onboard," Koshy said.\n\n\nshort by Srishty Choudhury / \n      09:54 pm on 11 May\n\n',
 'Japanese soft drinks firm to test CO2 absorbing vending machines  ': '\nJapan-based Asahi Soft Drinks has announced it would start testing CO2 absorbing vending machines next month. The machines will be equipped with a special material that will allow them to absorb CO2 when they draw in ambient air to keep drinks inside hot or cool, Asahi said. The company further plans to use the absorbed CO2 in various industrial applications.\n\nshort by Mansi Agarwal / \n      11:01 pm on 11 May\n\n',
 'Jurassic-era sea giants were twice as big as killer whale: Study': '\nJurassic-era giant animals that lived in seas were twice as big as killer whales, a study stated. The animal was pliosaur or closely related to it. Pliosaur was large, carnivorous reptile with a massive head and streamlined body. It had short neck, four flippers that served as powerful paddles\n and lived between 200 million to 65.5 million years ago.\n\nshort by Swati Dubey / \n      11:01 pm on 11 May\n\n',
 'Kerala train fire accused inspired by preacher Zakir Naik: NIA': "\nThe National Investigation Agency (NIA), which is probing the train arson case which killed three persons in Kerala, said that accused Shahrukh Saifi was inspired by Islamic preacher Zakir Naik. As part of the investigation, NIA conducted searches at ten locations in Delhi's Shaheen Bagh area, where the accused hails from, and covered the properties of Saifi besides other suspects.\n\nshort by Apoorva Shankar / \n      09:59 pm on 11 May\n\n",
 "Ahmedabad BJP organises screenings of 'Kerala Story' for members": '\nBJP\'s Ahmedabad city unit on Thursday organised screenings of \'The Kerala Story\' for its workers. BJP\'s MLAs, MPs, councillors, office-bearers and members of its women\'s cell attended the screenings. "Our objective behind organising screenings...is to make women aware about this issue. It\'s our collective responsibility to ensure that our women don\'t get trapped in love jihad," a BJP leader said.\n\nshort by Apoorva Shankar / \n      10:20 pm on 11 May\n\n',
 '3 Indian-origin men sell drugs on dark web in UK, convicted': '\nAn Indian-origin father-son duo and another person have been convicted for running a fake pharmaceutical firm in the UK. The accused, identified as Allen, Roshan and Krunal, sold drugs on the dark web in exchange for cryptocurrency. The trio reportedly made approximately ¬£3.5 million (approximately ‚Çπ36 crore) by producing and selling Benzodiazepines, a type of sedative.\n\nshort by Disha Jana / \n      09:59 pm on 11 May\n\n',
 "Dutch man keeps 101-yr-old father's body in freezer for 18 months": '\nA man from the Netherlands reportedly kept his 101-year-old father\'s dead body in a freezer for 18 months so that he could "still talk to him". The man, aged 82 years, claimed that he didn\'t want to lose his father and miss him. Police are investigating the matter. They, however, don\'t suspect any foul play in the man\'s death.\n\nshort by Swati Dubey / \n      10:48 pm on 11 May\n\n',
 'Body of teen found who was lost in New Zealand cave amid floods': '\nA body has been found in a New Zealand cave where a teenager went missing during a school trip on Tuesday. The deceased teen was accompanied by a group of 15 students and two adults, but the others managed to make it out of the cave safely. A state of emergency was issued for Auckland following the floods.\n\nshort by Disha Jana / \n      10:15 pm on 11 May\n\n',
 'ONGC discovers oil, gas in 2 Mumbai offshore blocks in Arabian Sea': "\nOil and Natural Gas Corporation (ONGC) made discoveries of oil and gas in two Mumbai offshore blocks in the Arabian Sea. The discoveries, which have been named 'Amrit' and 'Moonga', were made in the blocks that the company won in recent open acreage licensing rounds. ONGC's discoveries in both rounds carry significant importance towards energy security by bolstering domestic production.\n\n\n\nshort by Srishty Choudhury / \n      10:55 pm on 11 May\n\n"}

In [49]:
news_df = pd.DataFrame(dictionary.items(), columns=['title', 'original'])

In [50]:
news_df

,title,original
0,RR's Yashasvi Jaiswal smashes fastest fifty in...,\nRajasthan Royals (RR) opener Yashasvi Jaiswa...
1,Rajasthan Royals record biggest win of IPL 202...,\nRajasthan Royals (RR) on Thursday recorded t...
2,RR break record for scoring most runs in 1st o...,\nRR on Thursday broke the record for scoring ...
3,Which Indians have smashed fifty off 15 or les...,\nRR's Yashasvi Jaiswal today slammed the fast...
4,Laxman Sivaramakrishnan mocks Kamal Haasan ove...,\nEx-India spinner Laxman Sivaramakrishnan too...
5,2 killed in shooting at Mercedes plant in Germ...,\nTwo persons were killed in a shooting inside...
6,PM Modi shares video on 25th anniversary of Po...,\nOn the 25th anniversary of Pokhran nuclear t...
7,99 jail officials transferred after gangster's...,\nAs many as 99 jail officials in Delhi were t...
8,3-storey building collapses in Guj; 4 feared t...,\nA 3-storey building collapsed in the Vejalpu...
9,"Commando martyred, 5 injured in shootout with ...",\nAt least one Manipur police commando lost hi...
10,Power of Bhutto's house goes off during presse...,\nThe electricity of Pakistan's Foreign Minist...
11,"Father was alcoholic, I sold pens on footpath:...",\nComedian-actor Johny Lever opened up about d...
12,Scammer sells AI-generated Frank Ocean songs f...,"\nA scammer has reportedly made around $13,000..."
13,One of the most dramatic 3 overs I've called: ...,\nTalking about RR opener Yashasvi Jaiswal who...
14,"Pathirana's brutal at 20, I hadn't understood ...",\nEx-West Indies pacer Ian Bishop said CSK pac...
15,Would've taken Jaiswal as Rahul replacement: V...,\nFormer England captain Michael Vaughan took ...
16,Joining ONDC will become market compulsion for...,\nOpen Network for Digital Commerce (ONDC) CEO...
17,Japanese soft drinks firm to test CO2 absorbin...,\nJapan-based Asahi Soft Drinks has announced ...
18,Jurassic-era sea giants were twice as big as k...,\nJurassic-era giant animals that lived in sea...
19,Kerala train fire accused inspired by preacher...,"\nThe National Investigation Agency (NIA), whi..."
20,Ahmedabad BJP organises screenings of 'Kerala ...,\nBJP's Ahmedabad city unit on Thursday organi...
21,3 Indian-origin men sell drugs on dark web in ...,\nAn Indian-origin father-son duo and another ...
22,Dutch man keeps 101-yr-old father's body in fr...,\nA man from the Netherlands reportedly kept h...
23,Body of teen found who was lost in New Zealand...,\nA body has been found in a New Zealand cave ...
24,"ONGC discovers oil, gas in 2 Mumbai offshore b...",\nOil and Natural Gas Corporation (ONGC) made ...

## 7 acquire codeup_df

In [51]:
url = 'https://www.codeup.com/blog/'
url4content = 'https://codeup.com/featured/women-in-tech-panelist-spotlight/'
headers = {'User-Agent': 'Codeup Data Science'}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')
entry_ctnt = soup.find_all('div',class_='entry-content')

In [52]:
list_of_h2 = soup.find_all('h2',class_='entry-title')

In [53]:
a_list= []
for i in range(0,len(list_of_h2)):
    a = list_of_h2[i].find_all('a',href=True)
    a_list.append(a)

In [54]:
len(a_list)

6

In [55]:
titles = []
for i in range(0,len(a_list)):
    a = a_list[i][0].text
    titles.append(a)

In [56]:
len(titles)

6

In [57]:
href = []
for i in range(0,len(a_list)):
    h = a_list[i][0]['href']
    href.append(h)

In [58]:
len(href)

6

In [59]:
content = []
for i in range(0,len(href)):
    url4content = href[i]
    headers = {'User-Agent': 'Codeup Data Science'}
    response = requests.get(url4content, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    entry_ctnt = soup.find_all('div',class_='entry-content')
    gacha = entry_ctnt[0].text
    content.append(gacha)

In [60]:
dictionary = {titles[i]:content[i] for i in range(len(titles[0:6]))}

In [61]:
dictionary

{'Women in tech: Panelist Spotlight ‚Äì Magdalena Rahn': '\nWomen in tech: Panelist Spotlight ‚Äì Magdalena Rahn\nCodeup is hosting a Women in Tech Panel in honor of Women‚Äôs History Month on March 29th, 2023! To further celebrate, we‚Äôd like to spotlight each of our panelists leading up to the discussion to learn a bit about their respective experiences as women in the tech industry!\n\nMeet Magdalena!\nMagdalena Rahn is a current Codeup student in a Data Science cohort in San Antonio, Texas. She has a professional background in cross-cultural communications, international business development, the wine industry and journalism. After serving in the US Navy, she decided to complement her professional skill set by attending the Data Science program at Codeup; she is set to graduate in March 2023. Magdalena is fluent in French, Bulgarian, Chinese-Mandarin, Spanish and Italian.\nWe asked Magdalena how Codeup impacted her career, and she replied ‚ÄúCodeup has provided a solid foundation in analytical processes, programming and data science methods, and it‚Äôs been an encouragement to have such supportive instructors and wonderful classmates.‚Äù\nDon‚Äôt forget to tune in on March 29th to sit in on an insightful conversation with Magdalena.\n',
 'Women in tech: Panelist Spotlight ‚Äì Rachel Robbins-Mayhill': '\nWomen in tech: Panelist Spotlight ‚Äì Rachel Robbins-Mayhill\nCodeup is hosting a Women in Tech Panel in honor of Women‚Äôs History Month on March 29th, 2023! To further celebrate, we‚Äôd like to spotlight each of our panelists leading up to the discussion to learn a bit about their respective experiences as women in the tech industry! Meet Rachel!\n\nRachel Robbins-Mayhill is a Decision Science Analyst I in San Antonio, Texas. Rachel has had a varied career that includes counseling, teaching, training, community development, and military operations. Her focus has always been on assessing needs, identifying solutions, and educating individuals and groups on aligning needs and solutions in different contexts. Rachel‚Äôs passion for data science stems from her belief that data is a powerful tool for communicating patterns that can lead to hope and growth in the future.\nIn June 2022, Rachel graduated from Codeup‚Äôs Innis cohort, where she honed her skills in data science. Shortly after, she started working as a Data Science Technical Writer with Apex Systems as a Contractor for USAA in July 2022. Her unconventional role allowed her to understand where her skills could be best utilized to support USAA in a non-contract role.\nRachel recently joined USAA‚Äôs Data Science Delivery team as a Decision Science Analyst I in February 2023. The team is focused on delivering machine learning models for fraud prevention, and Rachel‚Äôs particular role centers around providing strategic process solutions for the team in collaboration with Operational and Model Risk components.\nIn addition to her career, Rachel is currently pursuing a master‚Äôs degree in Applied Data Science from Syracuse University, further expanding her knowledge and skills in the field. Rachel is passionate about collaborating with individuals who share her belief in the potential of others and strive to achieve growth through logical, informed action. She welcomes LinkedIn connections and is excited about supporting the network of CodeUp alumni!\nWe asked Rachel how Codeup impacted her career, and she replied ‚ÄúCodeup delivered a comprehensive education in all facets of the data science pipeline, laying a strong foundation for me to build upon. Through repeated hands-on practice, I developed a reliable process that was immediately applicable in my job. Collaborative group projects were instrumental in helping me hone my skills in project management, allowing me to navigate complex data science projects with comfortability. Thanks to this invaluable experience, I was able to make significant strides in my career within just six months of graduating from Codeup.‚Äù\nDon‚Äôt forget to tune in on March 29th to sit in on an insightful conversation.\n',
 'Women in Tech: Panelist Spotlight ‚Äì Sarah Mellor': '\nWomen in tech: Panelist Spotlight ‚Äì Sarah Mellor\xa0\nCodeup is hosting a Women in Tech Panel in honor of Women‚Äôs History Month on March 29th, 2023! To further celebrate, we‚Äôd like to spotlight each of our panelists leading up to the discussion to learn a bit about their respective experiences as women in the tech industry!\nMeet Sarah!\nSarah Mellor currently works as the Director of People Operations. She joined Codeup four and a half years ago as an Admissions Manager. She went on to build out and lead the Marketing and Admissions team, while picking up People Ops tasks and projects here and there until moving over to lead the People Ops team two years ago. Prior to Codeup, she worked at education-focused non-profits in Washington, DC and Boulder, Colorado. She graduated from Wake Forest University.\nWe asked Sarah how Codeup has impacted her career, and her response was ‚ÄúI have absolutely loved having the privilege to grow alongside Codeup. In my time here across multiple different roles and departments, I‚Äôve seen a lot of change. The consistent things have always been the high quality of passionate and hardworking people I get to work with; the impactful mission we get to work on; and the inspiring students who trust us with their career change.‚Äù\nDon‚Äôt forget to tune in on March 29th to sit in on an insightful conversation.\n',
 'Women in Tech: Panelist Spotlight ‚Äì Madeleine Capper': '\nWomen in tech: Panelist Spotlight ‚Äì Madeleine Capper\nCodeup is hosting a Women in Tech Panel in honor of Women‚Äôs History Month on March 29th, 2023! To further celebrate, we‚Äôd like to spotlight each of our panelists leading up to the discussion to learn a bit about their respective experiences as women in the tech industry!\nMeet Madeleine!\nMadeleine Capper is a Data Scientist in San Antonio, Texas. A long-standing San Antonio resident, she studied mathematics at the University of Texas San Antonio and has worked as a Data Scientist for Booz Allen Hamilton. Madeleine currently teaches Data Science at Codeup, where she works daily with burgeoning data professionals to help them actualize their career aspirations through technical education.\nMadeleine attended Codeup as a student in early 2019 as a pupil in the very first Codeup Data Science cohort. The program proved immediately effective and she was the first student to obtain a data career out of the program. After working at Booz Allen Hamilton, Madeleine‚Äôs passion for education in conjunction with her appreciation for Codeup‚Äôs capacity for transformative life change brought her back to the institution in an instructional capacity, where she has been teaching for two years.\nDon‚Äôt forget to tune in on March 29th to sit in on an insightful conversation.\n',
 'Black Excellence in Tech: Panelist Spotlight ‚Äì Wilmarie De La Cruz Mejia': '\nBlack excellence in tech: Panelist Spotlight ‚Äì Wilmarie De La Cruz Mejia\n\nCodeup is hosting a Black Excellence in Tech Panel in honor of Black History Month on February 22, 2023! To further celebrate, we‚Äôd like to spotlight each of our panelists leading up to the discussion to learn a bit about their respective experiences as black leaders in the tech industry!\xa0\xa0\nMeet Wilmarie!\nWilmarie De\xa0La Cruz Mejia is a current Codeup student on the path to becoming a Full-Stack Web Developer at our Dallas, TX campus.\xa0\nWilmarie is a veteran expanding her knowledge of programming languages and technologies on her journey with Codeup.\xa0\nWe asked Wilmarie to share more about her experience at Codeup. She shares, ‚ÄúI was able to meet other people who were passionate about coding and be in a positive learning environment.‚Äù\nWe hope you can join us on February 22nd to sit in on an insightful conversation with Wilmarie and all of our panelists!\n',
 'Black excellence in tech: Panelist Spotlight ‚Äì Stephanie Jones': '\nBlack excellence in tech: Panelist Spotlight ‚Äì Stephanie Jones\nCodeup is hosting our second Black Excellence in Tech Panel in honor of Black History Month on February 22, 2023! To further celebrate, we‚Äôd like to spotlight each of our panelists leading up to the discussion to learn a bit about their respective experiences as black leaders in the tech industry!\xa0\xa0\nMeet Stephanie!\n\nStephanie Jones is an Alumna of Codeup‚Äôs Data Science Program (March 2022) and currently works as a Business Intelligence Developer for Victory Capital, a global investment management firm based in San Antonio, TX.\xa0\nStephanie is passionate about visual storytelling and, as a late ‚Äútech bloomer,‚Äù is also an advocate for equitable access and educational opportunities in technology for underserved communities.\nWe asked Stephanie to share more about her experience at Codeup. She shares, ‚ÄúI have always been a creative and Codeup opened up a world of possibilities by exposing me to advanced technical concepts and career opportunities.‚Äù Stephanie also speaks to the community of support in the program and beyond.\xa0 ‚ÄúThe network and support from instructors, mentors, and peers began during the application phase (which was intense), before the program even started, and has carried over even after completing the program and entering into the workforce.‚Äù\nWe hope you can join us on February 22nd to sit in on an insightful conversation with Stephanie and all of our panelists!\n'}

In [62]:
codeup_df = pd.DataFrame(dictionary.items(), columns=['title', 'original'])

In [63]:
codeup_df.iloc[0,1]

'\nWomen in tech: Panelist Spotlight ‚Äì Magdalena Rahn\nCodeup is hosting a Women in Tech Panel in honor of Women‚Äôs History Month on March 29th, 2023! To further celebrate, we‚Äôd like to spotlight each of our panelists leading up to the discussion to learn a bit about their respective experiences as women in the tech industry!\n\nMeet Magdalena!\nMagdalena Rahn is a current Codeup student in a Data Science cohort in San Antonio, Texas. She has a professional background in cross-cultural communications, international business development, the wine industry and journalism. After serving in the US Navy, she decided to complement her professional skill set by attending the Data Science program at Codeup; she is set to graduate in March 2023. Magdalena is fluent in French, Bulgarian, Chinese-Mandarin, Spanish and Italian.\nWe asked Magdalena how Codeup impacted her career, and she replied ‚ÄúCodeup has provided a solid foundation in analytical processes, programming and data science methods, and it‚Äôs been an encouragement to have such supportive instructors and wonderful classmates.‚Äù\nDon‚Äôt forget to tune in on March 29th to sit in on an insightful conversation with Magdalena.\n'

In [64]:
codeup_df

,title,original
0,Women in tech: Panelist Spotlight ‚Äì Magdalena ...,\nWomen in tech: Panelist Spotlight ‚Äì Magdalen...
1,Women in tech: Panelist Spotlight ‚Äì Rachel Rob...,\nWomen in tech: Panelist Spotlight ‚Äì Rachel R...
2,Women in Tech: Panelist Spotlight ‚Äì Sarah Mellor,\nWomen in tech: Panelist Spotlight ‚Äì Sarah Me...
3,Women in Tech: Panelist Spotlight ‚Äì Madeleine ...,\nWomen in tech: Panelist Spotlight ‚Äì Madelein...
4,Black Excellence in Tech: Panelist Spotlight ‚Äì...,\nBlack excellence in tech: Panelist Spotlight...
5,Black excellence in tech: Panelist Spotlight ‚Äì...,\nBlack excellence in tech: Panelist Spotlight...

### 8 dataframes with new columns

In [65]:
#news_df codeup_df

In [66]:
news_df['clean'] = news_df['original'].apply(basic_clean)

In [67]:
news_df

,title,original,clean
0,RR's Yashasvi Jaiswal smashes fastest fifty in...,\nRajasthan Royals (RR) opener Yashasvi Jaiswa...,\nrajasthan royals rr opener yashasvi jaiswal ...
1,Rajasthan Royals record biggest win of IPL 202...,\nRajasthan Royals (RR) on Thursday recorded t...,\nrajasthan royals rr on thursday recorded the...
2,RR break record for scoring most runs in 1st o...,\nRR on Thursday broke the record for scoring ...,\nrr on thursday broke the record for scoring ...
3,Which Indians have smashed fifty off 15 or les...,\nRR's Yashasvi Jaiswal today slammed the fast...,\nrr's yashasvi jaiswal today slammed the fast...
4,Laxman Sivaramakrishnan mocks Kamal Haasan ove...,\nEx-India spinner Laxman Sivaramakrishnan too...,\nexindia spinner laxman sivaramakrishnan took...
5,2 killed in shooting at Mercedes plant in Germ...,\nTwo persons were killed in a shooting inside...,\ntwo persons were killed in a shooting inside...
6,PM Modi shares video on 25th anniversary of Po...,\nOn the 25th anniversary of Pokhran nuclear t...,\non the 25th anniversary of pokhran nuclear t...
7,99 jail officials transferred after gangster's...,\nAs many as 99 jail officials in Delhi were t...,\nas many as 99 jail officials in delhi were t...
8,3-storey building collapses in Guj; 4 feared t...,\nA 3-storey building collapsed in the Vejalpu...,\na 3storey building collapsed in the vejalpur...
9,"Commando martyred, 5 injured in shootout with ...",\nAt least one Manipur police commando lost hi...,\nat least one manipur police commando lost hi...
10,Power of Bhutto's house goes off during presse...,\nThe electricity of Pakistan's Foreign Minist...,\nthe electricity of pakistan's foreign minist...
11,"Father was alcoholic, I sold pens on footpath:...",\nComedian-actor Johny Lever opened up about d...,\ncomedianactor johny lever opened up about di...
12,Scammer sells AI-generated Frank Ocean songs f...,"\nA scammer has reportedly made around $13,000...",\na scammer has reportedly made around 13000 c...
13,One of the most dramatic 3 overs I've called: ...,\nTalking about RR opener Yashasvi Jaiswal who...,\ntalking about rr opener yashasvi jaiswal who...
14,"Pathirana's brutal at 20, I hadn't understood ...",\nEx-West Indies pacer Ian Bishop said CSK pac...,\nexwest indies pacer ian bishop said csk pace...
15,Would've taken Jaiswal as Rahul replacement: V...,\nFormer England captain Michael Vaughan took ...,\nformer england captain michael vaughan took ...
16,Joining ONDC will become market compulsion for...,\nOpen Network for Digital Commerce (ONDC) CEO...,\nopen network for digital commerce ondc ceo t...
17,Japanese soft drinks firm to test CO2 absorbin...,\nJapan-based Asahi Soft Drinks has announced ...,\njapanbased asahi soft drinks has announced i...
18,Jurassic-era sea giants were twice as big as k...,\nJurassic-era giant animals that lived in sea...,\njurassicera giant animals that lived in seas...
19,Kerala train fire accused inspired by preacher...,"\nThe National Investigation Agency (NIA), whi...",\nthe national investigation agency nia which ...
20,Ahmedabad BJP organises screenings of 'Kerala ...,\nBJP's Ahmedabad city unit on Thursday organi...,\nbjp's ahmedabad city unit on thursday organi...
21,3 Indian-origin men sell drugs on dark web in ...,\nAn Indian-origin father-son duo and another ...,\nan indianorigin fatherson duo and another pe...
22,Dutch man keeps 101-yr-old father's body in fr...,\nA man from the Netherlands reportedly kept h...,\na man from the netherlands reportedly kept h...
23,Body of teen found who was lost in New Zealand...,\nA body has been found in a New Zealand cave ...,\na body has been found in a new zealand cave ...
24,"ONGC discovers oil, gas in 2 Mumbai offshore b...",\nOil and Natural Gas Corporation (ONGC) made ...,\noil and natural gas corporation ongc made di...

In [68]:
news_df['temp'] = news_df['clean'].apply(tokenize)

In [69]:
news_df['stemmed'] = news_df['temp'].apply(stem)

In [70]:
news_df

,title,original,clean,temp,stemmed
0,RR's Yashasvi Jaiswal smashes fastest fifty in...,\nRajasthan Royals (RR) opener Yashasvi Jaiswa...,\nrajasthan royals rr opener yashasvi jaiswal ...,rajasthan royals rr opener yashasvi jaiswal on...,rajasthan royal rr open yashasvi jaiswal on th...
1,Rajasthan Royals record biggest win of IPL 202...,\nRajasthan Royals (RR) on Thursday recorded t...,\nrajasthan royals rr on thursday recorded the...,rajasthan royals rr on thursday recorded the b...,rajasthan royal rr on thursday record the bigg...
2,RR break record for scoring most runs in 1st o...,\nRR on Thursday broke the record for scoring ...,\nrr on thursday broke the record for scoring ...,rr on thursday broke the record for scoring mo...,rr on thursday broke the record for score most...
3,Which Indians have smashed fifty off 15 or les...,\nRR's Yashasvi Jaiswal today slammed the fast...,\nrr's yashasvi jaiswal today slammed the fast...,rr ' s yashasvi jaiswal today slammed the fast...,rr ' s yashasvi jaiswal today slam the fastest...
4,Laxman Sivaramakrishnan mocks Kamal Haasan ove...,\nEx-India spinner Laxman Sivaramakrishnan too...,\nexindia spinner laxman sivaramakrishnan took...,exindia spinner laxman sivaramakrishnan took a...,exindia spinner laxman sivaramakrishnan took a...
5,2 killed in shooting at Mercedes plant in Germ...,\nTwo persons were killed in a shooting inside...,\ntwo persons were killed in a shooting inside...,two persons were killed in a shooting inside a...,two person were kill in a shoot insid a merced...
6,PM Modi shares video on 25th anniversary of Po...,\nOn the 25th anniversary of Pokhran nuclear t...,\non the 25th anniversary of pokhran nuclear t...,on the 25th anniversary of pokhran nuclear tes...,on the 25th anniversari of pokhran nuclear tes...
7,99 jail officials transferred after gangster's...,\nAs many as 99 jail officials in Delhi were t...,\nas many as 99 jail officials in delhi were t...,as many as 99 jail officials in delhi were tra...,as mani as 99 jail offici in delhi were transf...
8,3-storey building collapses in Guj; 4 feared t...,\nA 3-storey building collapsed in the Vejalpu...,\na 3storey building collapsed in the vejalpur...,a 3storey building collapsed in the vejalpur a...,a 3storey build collaps in the vejalpur area o...
9,"Commando martyred, 5 injured in shootout with ...",\nAt least one Manipur police commando lost hi...,\nat least one manipur police commando lost hi...,at least one manipur police commando lost his ...,at least one manipur polic commando lost hi li...
10,Power of Bhutto's house goes off during presse...,\nThe electricity of Pakistan's Foreign Minist...,\nthe electricity of pakistan's foreign minist...,the electricity of pakistan ' s foreign minist...,the electr of pakistan ' s foreign minist bila...
11,"Father was alcoholic, I sold pens on footpath:...",\nComedian-actor Johny Lever opened up about d...,\ncomedianactor johny lever opened up about di...,comedianactor johny lever opened up about diff...,comedianactor johni lever open up about diffic...
12,Scammer sells AI-generated Frank Ocean songs f...,"\nA scammer has reportedly made around $13,000...",\na scammer has reportedly made around 13000 c...,a scammer has reportedly made around 13000 cad...,a scammer ha reportedli made around 13000 cad ...
13,One of the most dramatic 3 overs I've called: ...,\nTalking about RR opener Yashasvi Jaiswal who...,\ntalking about rr opener yashasvi jaiswal who...,talking about rr opener yashasvi jaiswal who s...,talk about rr open yashasvi jaiswal who slam t...
14,"Pathirana's brutal at 20, I hadn't understood ...",\nEx-West Indies pacer Ian Bishop said CSK pac...,\nexwest indies pacer ian bishop said csk pace...,exwest indies pacer ian bishop said csk pacer ...,exwest indi pacer ian bishop said csk pacer ma...
15,Would've taken Jaiswal as Rahul replacement: V...,\nFormer England captain Michael Vaughan took ...,\nformer england captain michael vaughan took ...,former england captain michael vaughan took to...,former england captain michael vaughan took to...
16,Joining ONDC will become market compulsion for...,\nOpen Network for Digital Commerce (ONDC) CEO...,\nopen network for digital commerce ondc ceo t...,open network for digital commerce ondc ceo t k...,open network for digit commerc ondc ceo t kosh...
17,Japanese soft drinks firm to test CO2 absorbin...,\nJapan-based Asahi Soft Drinks has announced ...,\njapanbased asahi soft drinks has announced i...,japanbased asahi soft drinks has announced it ...,japanbas asahi soft drink ha announc it would ...
18,Jurassic-era sea giants were twice as big as k...,\nJurassic-era giant animals that lived in sea...,\njurassicera giant animals that lived in seas...,jurassicera giant animals that lived in seas w...,jurassicera giant anim that live in sea were t...
19,Kerala train fire accused inspired by preacher...,"\nThe National Investigation Agency (NIA), whi...",\nthe national investigation agency nia which ...,the national investigation agency nia which is...,the nation investig agenc nia which is probe t...
20,Ahmedabad BJP organises screenings of 'Kerala ...,\nBJP's Ahmedabad city unit on Thursday organi...,\nbjp's ahmedabad city unit on thursday organi...,bjp ' s ahmedabad city unit on thursday organi...,bjp ' s ahmedabad citi unit on thursday organi...
21,3 Indian-origin men sell drugs on dark web in ...,\nAn Indian-origin father-son duo and another ...,\nan indianorigin fatherson duo and another pe...,an indianorigin fatherson duo and another pers...,an indianorigin fatherson duo and anoth person...
22,Dutch man keeps 101-yr-old father's body in fr...,\nA man from the Netherlands reportedly kept h...,\na man from the netherlands reportedly kept h...,a man from the netherlands reportedly kept his...,a man from the netherland reportedli kept hi 1...
23,Body of teen found who was lost in New Zealand...,\nA body has been found in a New Zealand cave ...,\na body has been found in a new zealand cave ...,a body has been found in a new zealand cave wh...,a bodi ha been found in a new zealand cave whe...
24,"ONGC discovers oil, gas in 2 Mumbai offshore b...",\nOil and Natural Gas Corporation (ONGC) made ...,\noil and natural gas corporation ongc made di...,oil and natural gas corporation ongc made disc...,oil and natur ga corpor ongc made discoveri of...

In [71]:
news_df['lemmatized'] = news_df['temp'].apply(lemmatize)

In [72]:
news_df.drop(columns='temp',inplace=True)

In [73]:
news_df

,title,original,clean,stemmed,lemmatized
0,RR's Yashasvi Jaiswal smashes fastest fifty in...,\nRajasthan Royals (RR) opener Yashasvi Jaiswa...,\nrajasthan royals rr opener yashasvi jaiswal ...,rajasthan royal rr open yashasvi jaiswal on th...,rajasthan royal rr opener yashasvi jaiswal on ...
1,Rajasthan Royals record biggest win of IPL 202...,\nRajasthan Royals (RR) on Thursday recorded t...,\nrajasthan royals rr on thursday recorded the...,rajasthan royal rr on thursday record the bigg...,rajasthan royal rr on thursday recorded the bi...
2,RR break record for scoring most runs in 1st o...,\nRR on Thursday broke the record for scoring ...,\nrr on thursday broke the record for scoring ...,rr on thursday broke the record for score most...,rr on thursday broke the record for scoring mo...
3,Which Indians have smashed fifty off 15 or les...,\nRR's Yashasvi Jaiswal today slammed the fast...,\nrr's yashasvi jaiswal today slammed the fast...,rr ' s yashasvi jaiswal today slam the fastest...,rr ' s yashasvi jaiswal today slammed the fast...
4,Laxman Sivaramakrishnan mocks Kamal Haasan ove...,\nEx-India spinner Laxman Sivaramakrishnan too...,\nexindia spinner laxman sivaramakrishnan took...,exindia spinner laxman sivaramakrishnan took a...,exindia spinner laxman sivaramakrishnan took a...
5,2 killed in shooting at Mercedes plant in Germ...,\nTwo persons were killed in a shooting inside...,\ntwo persons were killed in a shooting inside...,two person were kill in a shoot insid a merced...,two person were killed in a shooting inside a ...
6,PM Modi shares video on 25th anniversary of Po...,\nOn the 25th anniversary of Pokhran nuclear t...,\non the 25th anniversary of pokhran nuclear t...,on the 25th anniversari of pokhran nuclear tes...,on the 25th anniversary of pokhran nuclear tes...
7,99 jail officials transferred after gangster's...,\nAs many as 99 jail officials in Delhi were t...,\nas many as 99 jail officials in delhi were t...,as mani as 99 jail offici in delhi were transf...,a many a 99 jail official in delhi were transf...
8,3-storey building collapses in Guj; 4 feared t...,\nA 3-storey building collapsed in the Vejalpu...,\na 3storey building collapsed in the vejalpur...,a 3storey build collaps in the vejalpur area o...,a 3storey building collapsed in the vejalpur a...
9,"Commando martyred, 5 injured in shootout with ...",\nAt least one Manipur police commando lost hi...,\nat least one manipur police commando lost hi...,at least one manipur polic commando lost hi li...,at least one manipur police commando lost his ...
10,Power of Bhutto's house goes off during presse...,\nThe electricity of Pakistan's Foreign Minist...,\nthe electricity of pakistan's foreign minist...,the electr of pakistan ' s foreign minist bila...,the electricity of pakistan ' s foreign minist...
11,"Father was alcoholic, I sold pens on footpath:...",\nComedian-actor Johny Lever opened up about d...,\ncomedianactor johny lever opened up about di...,comedianactor johni lever open up about diffic...,comedianactor johny lever opened up about diff...
12,Scammer sells AI-generated Frank Ocean songs f...,"\nA scammer has reportedly made around $13,000...",\na scammer has reportedly made around 13000 c...,a scammer ha reportedli made around 13000 cad ...,a scammer ha reportedly made around 13000 cad ...
13,One of the most dramatic 3 overs I've called: ...,\nTalking about RR opener Yashasvi Jaiswal who...,\ntalking about rr opener yashasvi jaiswal who...,talk about rr open yashasvi jaiswal who slam t...,talking about rr opener yashasvi jaiswal who s...
14,"Pathirana's brutal at 20, I hadn't understood ...",\nEx-West Indies pacer Ian Bishop said CSK pac...,\nexwest indies pacer ian bishop said csk pace...,exwest indi pacer ian bishop said csk pacer ma...,exwest indie pacer ian bishop said csk pacer m...
15,Would've taken Jaiswal as Rahul replacement: V...,\nFormer England captain Michael Vaughan took ...,\nformer england captain michael vaughan took ...,former england captain michael vaughan took to...,former england captain michael vaughan took to...
16,Joining ONDC will become market compulsion for...,\nOpen Network for Digital Commerce (ONDC) CEO...,\nopen network for digital commerce ondc ceo t...,open network for digit commerc ondc ceo t kosh...,open network for digital commerce ondc ceo t k...
17,Japanese soft drinks firm to test CO2 absorbin...,\nJapan-based Asahi Soft Drinks has announced ...,\njapanbased asahi soft drinks has announced i...,japanbas asahi soft drink ha announc it would ...,japanbased asahi soft drink ha announced it wo...
18,Jurassic-era sea giants were twice as big as k...,\nJurassic-era giant animals that lived in sea...,\njurassicera giant animals that lived in seas...,jurassicera giant anim that live in sea were t...,jurassicera giant animal that lived in sea wer...
19,Kerala train fire accused inspired by preacher...,"\nThe National Investigation Agency (NIA), whi...",\nthe national investigation agency nia which ...,the nation investig agenc nia which is probe t...,the national investigation agency nia which is...
20,Ahmedabad BJP organises screenings of 'Kerala ...,\nBJP's Ahmedabad city unit on Thursday organi...,\nbjp's ahmedabad city unit on thursday organi...,bjp ' s ahmedabad citi unit on thursday organi...,bjp ' s ahmedabad city unit on thursday organi...
21,3 Indian-origin men sell drugs on dark web in ...,\nAn Indian-origin father-son duo and another ...,\nan indianorigin fatherson duo and another pe...,an indianorigin fatherson duo and anoth person...,an indianorigin fatherson duo and another pers...
22,Dutch man keeps 101-yr-old father's body in fr...,\nA man from the Netherlands reportedly kept h...,\na man from the netherlands reportedly kept h...,a man from the netherland reportedli kept hi 1...,a man from the netherlands reportedly kept his...
23,Body of teen found who was lost in New Zealand...,\nA body has been found in a New Zealand cave ...,\na body has been found in a new zealand cave ...,a bodi ha been found in a new zealand cave whe...,a body ha been found in a new zealand cave whe...
24,"ONGC discovers oil, gas in 2 Mumbai offshore b...",\nOil and Natural Gas Corporation (ONGC) made ...,\noil and natural gas corporation ongc made di...,oil and natur ga corpor ongc made discoveri of...,oil and natural gas corporation ongc made disc...

In [74]:
# now codeup_df

In [75]:
codeup_df['clean'] = codeup_df['original'].apply(basic_clean)

In [76]:
codeup_df['temp'] = codeup_df['clean'].apply(tokenize)

In [77]:
codeup_df['stemmed'] = codeup_df['temp'].apply(stem)

In [78]:
codeup_df['lemmatized'] = codeup_df['temp'].apply(lemmatize)

In [79]:
codeup_df.drop(columns='temp',inplace=True)

In [80]:
codeup_df

,title,original,clean,stemmed,lemmatized
0,Women in tech: Panelist Spotlight ‚Äì Magdalena ...,\nWomen in tech: Panelist Spotlight ‚Äì Magdalen...,\nwomen in tech panelist spotlight magdalena ...,women in tech panelist spotlight magdalena rah...,woman in tech panelist spotlight magdalena rah...
1,Women in tech: Panelist Spotlight ‚Äì Rachel Rob...,\nWomen in tech: Panelist Spotlight ‚Äì Rachel R...,\nwomen in tech panelist spotlight rachel rob...,women in tech panelist spotlight rachel robbin...,woman in tech panelist spotlight rachel robbin...
2,Women in Tech: Panelist Spotlight ‚Äì Sarah Mellor,\nWomen in tech: Panelist Spotlight ‚Äì Sarah Me...,\nwomen in tech panelist spotlight sarah mell...,women in tech panelist spotlight sarah mellor ...,woman in tech panelist spotlight sarah mellor ...
3,Women in Tech: Panelist Spotlight ‚Äì Madeleine ...,\nWomen in tech: Panelist Spotlight ‚Äì Madelein...,\nwomen in tech panelist spotlight madeleine ...,women in tech panelist spotlight madelein capp...,woman in tech panelist spotlight madeleine cap...
4,Black Excellence in Tech: Panelist Spotlight ‚Äì...,\nBlack excellence in tech: Panelist Spotlight...,\nblack excellence in tech panelist spotlight ...,black excel in tech panelist spotlight wilmari...,black excellence in tech panelist spotlight wi...
5,Black excellence in tech: Panelist Spotlight ‚Äì...,\nBlack excellence in tech: Panelist Spotlight...,\nblack excellence in tech panelist spotlight ...,black excel in tech panelist spotlight stephan...,black excellence in tech panelist spotlight st...

In [81]:
codeup_df.iloc[0,3]

'women in tech panelist spotlight magdalena rahn codeup is host a women in tech panel in honor of women histori month on march 29th 2023 to further celebr wed like to spotlight each of our panelist lead up to the discuss to learn a bit about their respect experi as women in the tech industri meet magdalena magdalena rahn is a current codeup student in a data scienc cohort in san antonio texa she ha a profession background in crosscultur commun intern busi develop the wine industri and journal after serv in the us navi she decid to complement her profession skill set by attend the data scienc program at codeup she is set to graduat in march 2023 magdalena is fluent in french bulgarian chinesemandarin spanish and italian we ask magdalena how codeup impact her career and she repli codeup ha provid a solid foundat in analyt process program and data scienc method and it been an encourag to have such support instructor and wonder classmat dont forget to tune in on march 29th to sit in on an insight convers with magdalena'

In [82]:
codeup_df.iloc[0,4]

'woman in tech panelist spotlight magdalena rahn codeup is hosting a woman in tech panel in honor of woman history month on march 29th 2023 to further celebrate wed like to spotlight each of our panelist leading up to the discussion to learn a bit about their respective experience a woman in the tech industry meet magdalena magdalena rahn is a current codeup student in a data science cohort in san antonio texas she ha a professional background in crosscultural communication international business development the wine industry and journalism after serving in the u navy she decided to complement her professional skill set by attending the data science program at codeup she is set to graduate in march 2023 magdalena is fluent in french bulgarian chinesemandarin spanish and italian we asked magdalena how codeup impacted her career and she replied codeup ha provided a solid foundation in analytical process programming and data science method and it been an encouragement to have such supportive instructor and wonderful classmate dont forget to tune in on march 29th to sit in on an insightful conversation with magdalena'